.navbar-brand{
    position: relative;
    left: 50%;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
.carousel-item img{
height: 350px;
}
.video1{
                                                       

}